<% layout('layouts/boilerplate')%>
  <div class="postContainer">

    <h1>All Posts</h1>
    <a href="/posts/new" class="btn-create">Create Post</a>
    <% for(let post of posts) { %>
      <div class="post">

        <small class="muted">
          Posted by @<%= post.user.username %>
        </small>

        <h3>
          <%= post.title %>
        </h3>
        <p>
          <%= post.textBody %>
        </p>
        <% if(post.comments.length> 1){ %>
          <small class="muted numComments">
            <%= post.comments.length %> comments
          </small>
          <% } else {%>
            <small class="muted numComments">
              1 comment
            </small>
            <% } %>
              <a href="/posts/<%= post._id %>" class="btn-show">Show More</a>
      </div>
      <% } %>
  </div>