<% layout('layouts/boilerplate') %>
  <div class="postContainer">


    <div class="post">
      <small class="muted">
        Posted by @<%= post.user.username %>
      </small>
      <h3>
        <%= post.title %>
      </h3>
      <p>
        <%= post.textBody %>
      </p>
      <a href="/posts" class="btn-show">All posts</a>
      <% if (currentUser && post.user.equals(currentUser)) {%>
        <a href="/posts/<%= post._id %>/edit" class="btn-edit">Edit</a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button class="btn-delete">Delete</button>
        </form>
        <% } %>
    </div>
    <% if(currentUser){ %>
      <div id="commentSection">
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <label for="comment">Add a comment</label>
          <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Enter a comment"></textarea>
          <button>Submit</button>
        </form>
        <% } %>
          <% if(post.comments.length> 0){ %>
            <div id="comments">
              <h2>Comments</h2>
              <% for(let comment of post.comments){ %>
                <div class="post">
                  <small class="muted">
                    Commented by @<%= comment.user.username %>
                  </small>
                  <p>
                    <%= comment.commentText %>
                  </p>
                  <% if (currentUser && post.user.equals(currentUser)) {%>
                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="btn-delete">Delete</button>
                    </form>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>
      </div>
  </div>